.mainContainer{
  display: flex;
}
.videosContainer{
  width: 84%;
  margin-left: 16%;
  padding: 15px;
  padding-top: 70px;
  background-color: rgba(248, 248, 248, 0.521);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
}